<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ex33" frontName="ex33">
            <module name="Unit6_Ex31"/>
        </route>
    </router>
</config>

