<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="Unit6_verification_set_verification_flag" instance="Unit6\verification\Observer\SetVerificationFlag" />
    </event>
    <event name="sales_order_place_before">
        <observer name="Unit6_verification_set_verification_flag_admin" instance="Unit6\verification\Observer\SetVerificationFlag" />
    </event>
</config>
